CUSTOM_DOMAIN_NAME=example.com
R53_ZONE_ID=zoneid
LAMBDA_VERSION=0.0.1
AWS_AUTOMATION_ROLE_ARN=arn:aws:iam::account_number:role/role_name
# This is optional
AWS_BOUNDARY_POLICY_ARN=arn:aws:iam::accountnumber:policy/boundary_policy
